# Copy the Qualifier annotation from the instance variables to the constructor.
# Needed when using Qualifier annotation in combination with RequiredArgsConstructor annotation.
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# Use Jackson 3 annotations/classes for Lombok @Jacksonized generated code.
# Needed because both Jackson 2 annotations and Jackson 3 databind are present on the classpath.
lombok.jacksonized.jacksonVersion += 3
