management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      group:
        readiness:
          include: readinessState,truststore,tara,hydra
  endpoints:
    web:
      exposure:
        include: configprops,env,health,info
  info:
    java:
      enabled: true
    git:
      mode: full

spring:
  application:
    name: govsso-session
  main:
    banner-mode: off

server:
  # Use same port as docker-compose-all.yml.
  port: 15443
  ssl:
    enabled: true
    key-store-type: PKCS12
    key-store: classpath:session.localhost.keystore.p12
    key-store-password: changeit
    protocol: TLS
    enabled-protocols: TLSv1.3

govsso:
  # By default, use URL-s accessible from host machine ("localhost") to support "Running GOVSSO Session Service Locally
  #  and Dependencies in Docker Compose" workflow in README.md.
  base-url: https://gateway.localhost:13443/
  # NB! Hydra database clean-up functionality will remove session data older than 24 hours, so
  # setting this value over 1440 (24 hours) also requires increasing Hydra database clean-up time limit.
  session-max-update-interval-minutes: 15
  # NB! Hydra database clean-up functionality will remove session data older than 24 hours, so
  # setting this value over 24 also requires increasing Hydra database clean-up time limit.
  session-max-duration-hours: 12
  hydra:
    admin-url: https://hydra.localhost:14445/
    tls:
      trust-store-location: classpath:session.localhost.hydra.truststore.p12
      trust-store-password: changeit
  tara:
    issuer-url: https://tara.localhost:16443
    client-id: govsso
    client-secret: changeme
    tls:
      trust-store-location: classpath:session.localhost.tara.truststore.p12
      trust-store-password: changeit
  admin:
    host-url: https://admin.localhost:17443/
    tls:
      trust-store-location: classpath:session.localhost.admin.truststore.p12
      trust-store-password: changeit
  security:
    cookie-signing-secret: changeme
