<div class="container" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
    <noscript>
        <div class="alert alert-error" role="alert">
            <p><strong th:utext="#{message.warning.noscript}"></strong></p>
        </div>
        <br>
    </noscript>

    <div class="c-tab-login__warning" th:if="${not #lists.isEmpty(alerts)}">
        <div class="alert alert-warning">
            <ul>
                <li th:each="alert : ${alerts}">
                    <strong th:if="${alert.isLoadedFromConf()}"
                            th:utext="${alert.getAlertMessage(#locale.language)}"></strong>
                    <strong th:text="${alert.getAlertMessage(#locale.language)}"
                            th:unless="${alert.isLoadedFromConf()}"></strong>
                </li>
            </ul>
        </div>
        <br>
    </div>

    <div class="c-tab-login">
        <main class="c-tab-login__main" role="main">
            <div class="c-tab-login__content">
                <div class="c-tab-login__content-wrap">
                    <div class="c-tab-login__content-icon">
                        <img class="icon" th:if="${logo != null}" th:src="${'data:image/svg+xml;base64,' + logo}">
                    </div>
                    <div class="c-tab-login__content-text">
                        <div aria-level="2" role="heading">
                            <h2 th:utext="#{label.sso.title(${clientName})}"></h2>
                        </div>
                        <p th:utext="#{label.sso.acr_instruction(${clientName})}"></p>

                        <form class="c-form" id="continueForm" layout:fragment="login-form-content"
                              method="post"
                              role="form">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                            <input th:name="loginChallenge" th:value="${loginChallenge}" type="hidden"/>
                            <button class="c-btn c-btn--cancel" formaction="/login/reauthenticate" role="button"
                                    th:text="#{label.sso.reauthenticate}"
                                    type="submit">
                                Reauthenticate
                            </button>
                            <button class="c-btn c-btn--primary" formaction="/login/reject"
                                    role="button"
                                    th:text="#{label.sso.back}"
                                    type="submit">
                                Back
                            </button>
                        </form>
                    </div>

                </div>
                <div class="c-tab-login__content-wrap">
                    <p class="detailed-instruction"
                       th:utext="#{label.sso.detailed_acr_instruction}">
                    </p>
                </div>
                <div class="c-tab-login__footer">
                    <form class="c-form" id="rejectForm" layout:fragment="login-form-content" method="post"
                          role="form">
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                        <input th:name="loginChallenge" th:value="${loginChallenge}" type="hidden"/>
                        <button class="link" formaction="/login/reject" role="button"
                                th:text="#{label.common.home}"
                                type="submit">
                            Home
                        </button>
                    </form>
                    <p>
                        <a rel="noopener"
                           target="_blank" th:href="${#messages.msg('link.sso.help')}"
                           th:utext="${#messages.msg('label.sso.help')}">Help</a>
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="link-back-mobile" xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="c-form" id="mobileRejectForm" layout:fragment="login-form-content" method="post"
          role="form">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <input th:name="loginChallenge" th:value="${loginChallenge}" type="hidden"/>
        <button class="link" formaction="/login/reject" role="button"
                th:text="#{label.common.home}"
                type="submit">
            Home
        </button>
    </form>
</div>
<script defer th:src="@{/scripts/jquery-3.6.0.min.js}"></script>
<script defer th:src="@{/scripts/main.js}"></script>
