<div class="container" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
    <noscript>
        <div class="alert alert-error" role="alert">
            <p><strong th:utext="#{message.warning.noscript}"></strong></p>
        </div>
        <br>
    </noscript>

    <div class="c-tab-login__warning" th:if="${not #lists.isEmpty(alerts)}">
        <div class="alert alert-warning">
            <ul>
                <li th:each="alert : ${alerts}">
                    <strong th:if="${alert.isLoadedFromConf()}"
                            th:utext="${alert.getAlertMessage(#locale.language)}"></strong>
                    <strong th:text="${alert.getAlertMessage(#locale.language)}"
                            th:unless="${alert.isLoadedFromConf()}"></strong>
                </li>
            </ul>
        </div>
        <br>
    </div>

    <div class="c-tab-login">
        <main class="c-tab-login__main" role="main">
            <div class="c-tab-login__content">
                <div class="c-tab-login__content-wrap">
                    <div class="c-tab-login__content-icon">
                        <img class="icon" th:if="${logo != null}" th:src="${'data:image/svg+xml;base64,' + logo}">
                    </div>
                    <div class="c-tab-login__content-text">
                        <div aria-level="2" role="heading">
                            <h2 th:utext="#{label.sso.logout.title(${clientNameEscaped})}"></h2>
                        </div>

                        <div class="service-list" id="service-list">
                            <p th:if="${#lists.size(activeSessions)} > 5"
                               th:utext="#{label.sso.logout.active_sessions(${#lists.size(activeSessions)})}"></p>
                            <p th:if="${#lists.size(activeSessions)} <= 5"
                               th:utext="#{label.sso.logout.active_sessions_short(${#lists.size(activeSessions)})}"></p>
                            <ul translate="no">
                                <li>
                                    <div class="service-name"
                                         th:text="${activeSessions[0]}">
                                    </div>
                                    <div class="service-name" th:if="${#lists.size(activeSessions)} > 1"
                                         th:text="${activeSessions[1]}">
                                    </div>
                                    <div class="service-name" th:if="${#lists.size(activeSessions)} > 2"
                                         th:text="${activeSessions[2]}">
                                    </div>
                                    <div class="service-name" th:if="${#lists.size(activeSessions)} > 3"
                                         th:text="${activeSessions[3]}">
                                    </div>
                                    <div class="service-name" th:if="${#lists.size(activeSessions)} > 4"
                                         th:text="${activeSessions[4]}">
                                    </div>
                                </li>
                            </ul>
                            <div class="list_link" id="expand-service-list"
                                 th:if="${#lists.size(activeSessions)} > 5"
                                 th:text="#{label.sso.logout.expand_service_list}">
                            </div>

                        </div>

                        <div aria-hidden="true" class="service-list hidden" id="expanded-service-list">
                            <p th:utext="#{label.sso.logout.active_sessions(${#lists.size(activeSessions)})}"></p>
                            <ul translate="no">
                                <li th:each="sessionName : ${activeSessions}">
                                    <div class="service-name" th:text="${sessionName}"></div>
                                </li>
                            </ul>
                        </div>

                        <form class="c-form" id="continueForm" layout:fragment="login-form-content"
                              method="post"
                              role="form">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                            <input th:name="logoutChallenge" th:value="${logoutChallenge}" type="hidden"/>
                            <button class="c-btn c-btn--primary" formaction="/logout/endsession" role="button"
                                    th:text="#{label.sso.logout.end_session}"
                                    type="submit">
                                Login
                            </button>
                            <button class="c-btn c-btn--primary" formaction="/logout/continuesession"
                                    role="button"
                                    th:text="#{label.sso.logout.continue_session}"
                                    type="submit">
                                Cancel
                            </button>
                        </form>
                    </div>
                </div>
                <div class="c-tab-login__content-wrap">
                    <p class="detailed-instruction"
                       th:utext="#{label.sso.logout.detailed_instruction}">
                    </p>
                </div>
                <div class="c-tab-logout__footer">
                    <p>
                        <a rel="noopener"
                           target="_blank" th:href="#{link.sso.help}"
                           th:utext="#{label.sso.help}">Help</a>
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>
<script defer th:src="@{/scripts/jquery-3.6.0.min.js}"></script>
<script defer th:src="@{/scripts/main.js}"></script>
