<div class="c-header-bar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <header role="banner">
                <p th:text="#{label.header.title}"/>
            </header>
        </div>
    </div>
</div>
<div class="c-header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="c-header__logo">
            <div class="c-header__logo-link">
                <img alt="" aria-hidden="true" th:src="#{logo.header.tara}">
            </div>
        </div>
    </div>
</div>
