<footer class="c-footer" role="contentinfo" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="c-footer__row">
            <div class="c-footer__col">
                <div class="c-footer__block">
                    <div class="c-footer__block-logo-elrf">
                        <img th:alt="#{label.footer.alt}" th:src="#{logo.footer.elrf}">
                    </div>
                </div>
            </div>
            <div class="c-footer__col">
                <div class="c-footer__block">
                    <div class="c-footer__block-logo">
                        <img th:alt="#{label.footer.alt}" th:if="${#messages.msgOrNull('logo.footer.cef') != null}"
                             th:src="#{logo.footer.cef}">
                        <div th:if="${#messages.msgOrNull('logo.footer.cef') == null}"
                             th:utext="#{label.footer.alt}"></div>
                    </div>
                </div>
            </div>
            <div class="c-footer__col">
                <p><a rel="noopener" target="_blank" th:href="#{link.footer.about}" th:text="#{label.footer.about}">About</a>
                </p>
            </div>
        </div>
    </div>
</footer>
