serve:
  admin:
    access_log:
      disable_for_health: true
    port: 4445
  tls:
    cert:
      path: /var/certs/hydra.localhost.crt
    key:
      path: /var/certs/hydra.localhost.key
  cookies:
    same_site_mode: None
  public:
    access_log:
      disable_for_health: true
    port: 8443
hsm:
  enabled: true
  library: /usr/lib/softhsm/libsofthsm2.so
  pin: '1234'
  token_label: hydra
  key_set_prefix: govsso.
webfinger:
  oidc_discovery:
    supported_claims:
      - acr
      - amr
      - at_hash
      - aud
      - auth_time
      - birthdate
      - exp
      - family_name
      - given_name
      - iat
      - iss
      - jti
      - nonce
      - phone_number
      - phone_number_verified
      - sid
      - sub
    supported_scope:
      - openid
      - phone
urls:
  login: https://gateway.localhost:13443/login/init
  consent: https://gateway.localhost:13443/consent/init
  logout: https://gateway.localhost:13443/logout/init
  error: https://gateway.localhost:13443/error/oidc
  self:
    issuer: https://gateway.localhost:13443/
client.tls:
  min_version: tls12
  max_version: tls13
  cipher_suites:
    - TLS_AES_128_GCM_SHA256
    - TLS_CHACHA20_POLY1305_SHA256
    - TLS_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
    - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
strategies:
  scope: exact
ttl:
  access_token: 1s
  refresh_token: 1s
  # NB! ttl/id_token value must be the same as govsso.session-max-update-interval-minutes value in GOVSSO-Session configuration.
  id_token: 15m
  auth_code: 30s
  login_consent_request: 1h
secrets:
  cookie:
    - youReallyNeedToChangeThis
  system:
    - youReallyNeedToChangeThis
sqa:
  opt_out: true
log:
  format: json
  redaction_text: redacted
