# Ignore everything
*

# But not these files...
!.gitignore
!add-ca-certificate-to-truststore.sh
!generate-ca-certificate.sh
!generate-certificate.sh
!generate-certificates.sh
!generate-truststore.sh
!openssl.cnf

# ...even if they are in subdirectories
!*/
